:root {
    --primary-color: #ffffff;
    --secondary-color: #e96b77;
    --gray-eleccion-c: #da4848;
    --gray-eleccion: rgb(193, 193, 193);
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --sm: 12px;
    --font-main: 'Open Sans', sans-serif;
    --font-secondary: 'Lato', sans-serif;
}



/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 75px;
    background-color: #ffffff;

}

main {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

/* Estilos de la Navbar */
.navbar {
    padding: 0.2em;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-icon {
    /* background-color: #ec070779; */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
}

.search-icon img {
    width: 1.2em;
    text-align: center;
}



.form-control {
    padding-left: 1em;
    /* Dejar espacio para el icono */
}

.form-control:focus {
    border-color: rgb(219, 15, 15);
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2B2B2B;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-item {
    position: relative;
    color: #333;
    /* Color del texto */
    text-transform: uppercase;
    /* Convertir el texto a mayúsculas */
    text-decoration: none;
    /* Eliminar el subrayado del enlace */
    padding: 8px 16px;
    /* Espacio interior del enlace */
    border-radius: 25px;
    /* Borde redondeado */
}

.nav-item::before {
    /* Linea debajo de los items */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.nav-item:hover::before {
    background-color: #ec070779;
}


.navbar-nav .nav-link {
    font-size: 0.8em;
    color: #2B2B2B;
}

.btn-wsp {
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-wsp:hover {
    text-decoration: none;
    background-color: #128c7e;
    color: #fff;
    border-color: #128c7e;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}



/* Estilos del Header */
header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1645526816847-74a7640b8b7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

header p {
    font-size: 1.5rem;
    text-shadow: 2px 2px #000000;
}

/* Estilos del Carrousel */

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el carrusel de cards */
.carousel-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-cards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.carousel-cards::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-carousel {
    margin-right: 20px;
    scroll-snap-align: center;
}

.card-carousel:last-child {
    margin-right: 0;
}

.card-carousel .card {
    max-width: 300px;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card-carousel .card:hover {
    transform: translateY(-5px);
}

.card-carousel .card img {
    height: 200px;
    object-fit: cover;
}

.card-carousel .card-body {
    padding: 20px;
    text-align: center;
}

.card-carousel .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-carousel .card-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-carousel .btn {
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background-color 0.2s;
}

.card-carousel .btn:hover {
    background-color: #5e5e5e;
    color: #fff;
}

/* Estilos del Contenido principal */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2B2B2B;
    margin-bottom: 1rem;
}

.container p {
    font-size: 1.2rem;
    color: #4F4F4F;
    line-height: 1.5;
}

/* principal-main */

.principal h2 {
    font-family: var(--font-secondary);

}

/* principal-main fin */
/* admin view */
.admin-main .img-fluid {
    max-width: 500px;
    height: auto;
}



/* Ofertas */

.ofertas .title-container {
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    align-items: center;
    /* border: solid salmon; */
}

.ofertas h3 {
    font-family: var(--font-secondary);
}

/* .ofertas {
    border: solid red;
} */

/* Swiper */

.swiper {
    max-width: 100%;

}


.swiper .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px 0;
}

;


.swiper .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

}

.swiper .swiper-slide img {
    height: 200px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.swiper .swiper-slide .card-description {
    height: 150px;
    padding: 1rem 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper .swiper-slide .card-title,
.swiper .swiper-slide .card-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;
    max-height: 50px;
    /* Esto sirve para que el texto no me deforme(estire) la card */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper .swiper-slide .card-link {
    text-align: center;

}


.swiper-button-next {
    color: black;
    right: 0px;
}

.swiper-button-prev {
    color: black;
    left: 0px;
}

.swiper .card-link button {
    background-color: #e14949;
    color: white;
    border: 0.2px solid red;
    text-transform: uppercase;
}

.swiper .card-link button:hover {
    background-color: rgb(246, 0, 0);
}

.swiper .card-link button:active {
    background-color: red;
}


.swiper .card-price {
    margin-bottom: 10px;
}

/* .product-row {
    justify-content: center;
}

.product-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px 0;
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    height: 200px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    margin-bottom: 10px;
}

.product-stock {
    margin-bottom: 20px;
}

.btn-buy,
.btn-add-to-cart {
    display: inline-block;
    margin-right: 10px;
}


 */




/* QUIENES-SOMOS INICIO */
/* Estilos para sección "Quienes somos" */

.container-about-us {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    /* height: 90vh; */
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(../img/about_us/about_us_bg.png); */
    background-image: url(../img/about_us/wave-secondary.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

.parallax {
    background-image: url(../img/about_us/pedi2.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93.5vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

.parallax h2 {
    position: relative;
    text-align: center;
    top: 32%;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-shadow: 10px 5px 20px rgba(0, 0, 0, .6);
}

.parallax a {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: black;
    font-weight: 500;
    background-color: #ffffffd4;
    bottom: 31%;
    left: calc(50% - 121.5px);
    border: 0.2px #515151;
    border-radius: 40px;
    padding: 8px 35px;
    font-size: 2rem;
    transition: .3s all;
    z-index: 9;
}

.parallax a i {
    font-size: 1.7rem;
    margin-left: 8px;
}

.parallax a:hover {
    transform: scale(1.05);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, .5);
}

.parallax .wave {
    position: absolute;
    height: max-content;
    width: 100%;
    bottom: 0;
}


/* QUIENES-SOMOS FIN */

/* CONTACTO */

.contact {
    min-height: 100vh;
    padding: 100px 0;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.address h2,
.form h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.address p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.form input,
.form textarea {
    background-color: #F5F5F5;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.form button[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.form button[type=submit]:hover {
    background-color: #555;
}

.map-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map iframe {
    width: 100%;
    height: 400px;
    /* border: none; */
    margin-top: 30px;
}


/* CONTACTO FIN */

/* COMERCIALIZACION */

.comercializacion {
    min-height: 100vh;
    background-color: #ffffff;
    padding: 50px 0;
}

.comercializacion h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.comercializacion .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comercializacion .col-md-4 {
    margin-bottom: 30px;
    text-align: center;
}

.comercializacion .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-color: #7fad39;
    border-radius: 50%;
    line-height: 80px;
    font-size: 2.5rem;
    color: #fff;
}

.comercializacion h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.comercializacion p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.comercializacion a {
    color: #7fad39;
    font-weight: 600;
}

.comercializacion a:hover {
    color: #5c8031;
    text-decoration: none;
}

.media {
    align-items: center;
    margin-bottom: 1rem;
}

.media-body {
    flex: 1;
}

.comercializacion ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
}

.comercializacion li {
    padding-left: 1rem;
    position: relative;
}


/* COMERCIALIZACION FIN */

/* Estilos para el formulario de registro */
.registro {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
    background-color: #f8f9fa;
    padding: 50px 0;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-form {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.button-guardar {
    background-color: #007bff;
}

.button-cancelar {
    background-color: #dc3545;
}

.registro-pregunta {
    margin-top: 20px;
    text-align: center;
}

.registro-parrafo {
    text-align: center;
    margin-top: 20px;
}


.registro-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* .registro-container_form {
    flex: 0 0 50%;
} */

.registro-campo {
    margin-bottom: 20px;
}

.registro-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* .registro-img {
    flex: 0 0 50%;
} */

@media (max-width: 768px) {
    .registro-container {
        flex-direction: column;
    }

    .registro-container_form {
        flex: 0 0 100%;
    }

    .registro-img {
        display: none;
    }
}


/* fin */

/* login */


.login .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login .card-header {
    background-color: #dc3545;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.login .card-body {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.login .form-control {
    border-radius: 5px;
}

.login .btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.login .btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.login a {
    color: #dc3545;
    text-decoration: none;
}

.login a:hover {
    color: #c82333;
}

/*fin login*/


/* Estilos del Footer */
.footer {
    margin-bottom: 0;
    background-color: #bdc5c966;
    bottom: 0;
    left: 0;
    width: 100%;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
}

.redes-sociales img {
    margin: 30px;
    width: 2em;
}

.footer h5 {
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;

}

.footer p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #666;
    font-size: 18px;
}

.footer ul li a:hover {
    color: #ec0707;
}

.footer p:last-child {
    margin-bottom: 0;
}

.footer a {
    color: #666;
    font-size: 14px;
}

.footer a:hover {
    color: #ec0707;
}

.newsletter {
    background-color: #e5e5e5;
    color: #fff;
}

.newsletter h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.newsletter p {
    font-size: 16px;
    margin-bottom: 30px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-form .input-group {
    display: flex;
    justify-content: center;
}

.newsletter-form .form-control {
    border-radius: 30px 0 0 30px;
    border: none;
    padding: 20px 40px;
    font-size: 12px;
}

.newsletter-form .btn {
    border-radius: 0 30px 30px 0;
    background-color: #333;
    border: none;
    padding: 20px 30px;
    font-size: 16px;
}

.nosotros {
    padding: 1em;
}

.terminos {
    padding: 1em;
}

.terminos-condiciones {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.terminos-condiciones .container{
    background-color: #ffffff;
    border-radius: 20px;
}
/* Estilos del CATALOGO */

/* Estilos generales */
.section-catalogo{
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.catalogo {
    min-height: 100vh;
    padding: 20px;
    margin: 2vh;
    background-color: #ffffffab;
}

.catalog-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}


.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-section {
    margin-bottom: 20px;
}

.category-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-row {
    justify-content: center;
}

.product-card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin: 10px 0;
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    height: 200px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    margin-bottom: 10px;
}

.product-stock {
    margin-bottom: 20px;
}

.btn-buy,
.btn-add-to-cart {
    display: inline-block;
    margin-right: 10px;
}

/* Estilos de botones */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #1e7e34;
}


#quienes-somos {
    background-color: #f8f8f8;
    padding: 50px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

#quienes-somos h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

#quienes-somos p {
    margin-bottom: 20px;
}

#quienes-somos .container {
    max-width: 800px;
    margin: 0 auto;
}

/* Facturacion */
.container-table-productos-factura {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #000;
}

.container-table-productos-factura h2 {
    color: #c62828;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.container-table-productos-factura .card {
    border: none;
    box-shadow: none;
}

.container-table-productos-factura .card-title {
    color: #c62828;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-table-productos-factura .card-text {
    margin-bottom: 0;
}

.container-table-productos-factura table {
    margin-bottom: 20px;
}

.container-table-productos-factura table th,
.container-table-productos-factura table td {
    padding: 10px;
}

.container-table-productos-factura table th {
    background-color: #c62828;
    color: #fff;
    font-weight: bold;
}

.container-table-productos-factura table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.container-table-productos-factura .card-title,
.container-table-productos-factura .card-text {
    color: #000;
}

.container-table-productos-factura .card-text strong {
    font-weight: bold;
}

.container-table-productos-factura .row.justify-content-end {
    margin-top: 30px;
}

.container-table-productos-factura .card.mb-4 {
    border: none;
    box-shadow: none;
}

.container-table-productos-factura .datos-cliente {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: right;
}

.container-table-productos-factura .card-body h5.card-title {
    margin-bottom: 10px;
}

.container-table-productos-factura .card-body h4.card-text {
    color: #c62828;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.container-table-productos-factura .img-fluid {
    width: 10rem;
    height: auto;
    object-fit: cover;
}

.container-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.carrito {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}


/* Editar Mi Perfil */

.perfil {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.perfil .title {
    align-items: center;
    text-align: center;
}

.perfil-card {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.editar-registro-container_form {
    margin-top: 20px;
}

.editar-registro-buttons {
    margin-top: 20px;
}

/* Estilos para el card que contiene la sección de editar perfil */
.editar-perfil-card {
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo del card con opacidad */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    padding: 20px;
    /* Espaciado interno */
    margin-top: 20px;
    /* Espaciado superior */
}

/* Estilos para el título "Editar Perfil" */
.editar-perfil-card .title h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para el formulario dentro del card */
.editar-perfil-card form {
    margin-top: 20px;
}

/* Estilos para los campos del formulario */
.editar-perfil-card .form-group label {
    font-weight: bold;
}

/* Estilos para el botón "Guardar" del formulario */
.editar-perfil-card .editar-registro-buttons input[type="submit"] {
    margin-right: 10px;
}

/* Estilos para el botón "Cancelar" del formulario */
.editar-perfil-card .editar-registro-buttons a.btn-danger {
    color: #fff;
}

/* Estilos para los mensajes de éxito y error */
.editar-perfil-card .alert {
    margin-top: 20px;
    font-size: 14px;
}

/* Estilos para la sección de "Datos de Perfil" y "Datos de Facturación" */
.editar-perfil-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Facturacion */

.container-table-productos-factura {
    margin-top: 30px;
}

.card-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p.card-text {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 500px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.row.justify-content-end {
    margin-top: 20px;
}

/* VentasListar */

.listar-ventas {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}

.tabla-ventas {
    background-color: #fff0f0a1;
}

table.table.table-striped.tabla-ventas {
    background-color: #fdfcfc99;
}

/* factura */

.section-factura {
    min-height: 100vh;
    background-image: url(../img/usuario/20775473_tp244-bg1-02.jpg);
    background-size: cover;
}
